<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

<!--    useGeneratedKeys返回自动生成的主键值-->
<!--    MyBatis会将数据库自动生成的主键值赋给Dish对象的id属性。可以通过该对象的getId()方法获取这个主键值-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into `order` (room_id,user_id,staff_id,`type`,description,image,book_time,completed_time,created_at,updated_at,emergency,price,status)
        values (#{roomId},#{userId},#{staffId},#{type},#{description},#{image},#{bookTime},#{completedTime},#{createdAt},#{updatedAt},#{emergency},#{price},#{status})
    </insert>
    <update id="update">
        update `order`
        <set>
            <if test="roomId!=null">room_id=#{roomId},</if>
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="staffId!=null">staff_id=#{staffId},</if>
            <if test="type!=null">`type`=#{type},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="image!=null">image=#{image},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="emergency!=null">emergency=#{emergency},</if>
            <if test="bookTime!=null">book_time=#{bookTime},</if>
            <if test="completedTime!=null">completed_time=#{completedTime},</if>
            <if test="updatedAt!=null">updated_at=#{updatedAt},</if>
        </set>
        where id=#{id}
    </update>
    <select id="pageQuery" resultType="com.sky.vo.OrderPageQueryVO">
        select
            o.id,
            o.room_id as roomId,
            u.name as username,
            u.phone,
            o.description,
            o.image,
            o.price,
            o.emergency,
            o.status,
            o.book_time as bookTime
        from `order` o
        left join room r on o.room_id=r.id
        left join `user` u on r.user_id=u.id
        <where>
            <if test="phone!=null and phone!=''">
                and u.phone=#{phone}
            </if>
            <if test="status!=null and status!=''">
                and o.status=#{status}
            </if>
            <if test="emergency!=null">
                and o.emergency=#{emergency}
            </if>
            <if test="id!=null">
                and o.id=#{id}
            </if>
        </where>
        order by o.created_at desc
    </select>
    <select id="selectByOrderId" resultType="com.sky.vo.OrderDetailVO">
        select
            o.id,
            o.room_id as roomId,
            r.name as roomName,
            o.user_id as userId,
            u.name as username,
            u.phone,
            o.staff_id as staffId,
            s.name as staffName,
            o.type,
            o.description,
            o.image,
            o.book_time as bookTime,
            o.completed_time as completedTime,
            o.created_at as createdAt,
            o.updated_at as updatedAt,
            o.emergency,
            o.price,
            o.status
        from `order` o
        left join room r on o.room_id=r.id
        left join staff s on o.staff_id=s.id
        left join `user` u on o.user_id=u.id
        where o.id=#{id}
    </select>
</mapper>
