<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">

    <!--    useGeneratedKeys返回自动生成的主键值-->
    <!--    MyBatis会将数据库自动生成的主键值赋给User对象的id属性。可以通过该对象的getId()方法获取这个主键值-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (openid,name,phone,sex,id_number,avatar,created_at)
        values (#{openid},#{name},#{phone},#{sex},#{idNumber},#{avatar},#{createdAt})
    </insert>
</mapper>
